body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #000000, #ffffff, #cccccc, #000000);
    color: #fff;
}
header {
    background: linear-gradient(to right, #333333, #000000);
    color: #fff;
    padding: 20px;
    text-align: center;
}
header h1, header h3 {
    margin: 5px 0;
}
.crypto-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.crypto-icons img {
    width: 100px;
    height: 100px;
    margin: 10px;
}
nav {
    background: linear-gradient(135deg, #555555, #777777);
    color: #fff;
    padding: 10px;
    text-align: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
nav a:hover {
    background-color: #444;
}
section {
    padding: 20px;
    margin: 20px auto;
    background-color: #fff;
    width: 80%;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #333; /* Change text color to dark */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}
h2 {
    font-size: 24px;
    margin-bottom: 20px;
}
p {
    font-size: 16px;
}
.service-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.service-icons img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}
.service-label {
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
}
